@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #8A8A8A;
  padding: 12px 0;
}
nav .logo img {
  padding: 0 16px;
}
nav .project {
  text-align: center;
}
nav h1 {
  font-size: 32px;
}
nav .large {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 80px;
}
nav p {
  font-size: 24px;
  color: #797979;
  margin: 0;
  line-height: 1;
}
nav p.small {
  font-size: 16px;
  margin: 0;
}
nav p.small span {
    color: #2F8DFA;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding-left: 0;
  margin: 0;
}

nav ul li {
  padding-right: 16px;
}
.share-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.share-group p {
  color: #333;
  padding: 0 12px;
}
nav .nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .nav-right button {
  margin-left: 16px;
  background-color: #2F8DFA;
  color: #fff;
  font-size: 20px;
  border-radius: 4px;
  padding: 8px 48px;
  cursor: pointer;
  border: none;
}
nav .nav-right button.add-contributor {
  background-color: transparent;
  border: none;
  padding: 8px 0;
}
nav .nav-right ul li img {
  width: 48px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #8A8A8A;
  align-items: flex-start;
  width: 80px;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  width: 100%;
}
.sidebar ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 100%;
  padding: 8px 0;
}
.sidebar li:hover {
  background-color: #2F8DFA;
  cursor: pointer;
  color: #fff;
}
.sidebar li svg:hover {
  fill: #fff;
}
svg:hover {
  fill: #fff;
}
.sidebar ul li img {
  width: 30px;
}
.setting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 32px 0;
}
.setting img {
  margin-top: 16px;
}
